<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="1">

    <parameter name="cucumber.features.fail-on-undefined-steps" value="false"/>
    <parameter name="allure.results.suite.name" value="Cucumber BDD Tests"/>

    <test name="UI Tests" parallel="methods" thread-count="2">
        <classes>
            <class name="org.coffeecart5340.ui.CartManagementTests"/>
            <class name="org.coffeecart5340.ui.CartPreviewTests"/>
            <class name="org.coffeecart5340.ui.CheckoutEmailValidationTest"/>
            <class name="org.coffeecart5340.ui.CheckoutWithPromoTest"/>
            <class name="org.coffeecart5340.ui.DiscountedItemIncreaseButtonDisabledTest"/>
            <class name="org.coffeecart5340.ui.DoubleClickTranslatingTest"/>
            <class name="org.coffeecart5340.ui.EmptyCartPageTests"/>
            <class name="org.coffeecart5340.ui.HeaderNavigationTest"/>
            <class name="org.coffeecart5340.ui.PaymentModalCheckoutTest"/>
            <class name="org.coffeecart5340.ui.PaymentModalOpenCloseTest"/>
            <class name="org.coffeecart5340.ui.PaymentModalPrefilledFieldsTest"/>
            <class name="org.coffeecart5340.ui.PromoDiscountTests"/>
            <class name="org.coffeecart5340.ui.TestExample"/>
        </classes>
    </test>

    <test name="Cucumber Tests" parallel="none">
        <classes>
            <class name="org.coffeecart5340.cucumber.TestRunnerCucumber"/>
        </classes>
    </test>

</suite>